<!-- Page Content -->
<div id="page-content-wrapper" ng-controller="HashtagCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h3>HASHTAGS</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 well search-result" style="padding: 10px;">
      <div class="tags">
        <span ng-repeat="hashtag in hashtags">
          {{hashtag.hashtag}}
          <span class="glyphicon glyphicon-remove" aria-hidden="true"
            ng-click="deleteHashtag($index)"></span>
        </span>
      </div>
      <div style="width: 10%;">
        <input type="text" class="form-control tags-input" placeholder="Nova hashtag..."
               ng-model="newHashtag" ng-keyup="$event.which === 13 && addHashtag()">
      </div>
    </div>
  </div>


</div>
</div>
<!-- /#page-content-wrapper -->
