<!-- Page Content -->
<div id="page-content-wrapper" ng-controller="InfoCtrl">
  <div class="container-fluid">
     <div class="row">
      <div class="col-lg-12">
        <h3>INFORMAÇÕES ATUAIS DO CENTRO DE APOIO AO CLIENTE</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4" style="float: right;">
        <div id="custom-search-input">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-sm" placeholder="Procurar funcionário..." ng-model="nome"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-sm" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>Informação atualizada em tempo real</p>

        <div class="well search-result" ng-repeat="user in users | filter:nome | orderBy:'id' ">
          <div class="row" >
              <div class="col-lg-9 title">
                <h3>{{user.username}}</h3>

                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-3">
                  <p>Conversações Ativas: {{countInProgress(user.userchats)}}</p>

                  <p>Publicações Ativas:{{countInProgress(user.userposts)}}</p>
                </div>
                <div class="col-lg-3">
                  <p>Conversações Resolvidas: {{countSolved(user.userchats, user.LastLoginDate)}}</p>

                  <p>Publicações Resolvidas: {{countSolved(user.userposts, user.LastLoginDate)}}</p>
                </div>
              </div>
              <div class="col-lg-3 session-start">
                <p class="session-start-text"><strong>Último início de sessão:</strong> {{(user.LastLoginDate | date:"dd/MM/yyyy 'às' HH:mm") || "Nunca"}}</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
