<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>PREFERÊNCIAS</h3>
      </div>
    </div>
    <div class="row" ng-controller="PreferencesCtrl">
      <div class="col-lg-12 well search-result">
        <div class="col-md-2">
          <p ng-show="successMessage.length > 0" class="bg-success">{{successMessage}}</p>
          <p ng-show="newPassword !== newPasswordConfirm" class="bg-danger">As passwords têm que ser iguais</p>
          <pre ng-show="errorMessage.length > 0" class="bg-danger">{{errorMessage}}</pre>
        </div>

        <div class="col-md-2">
          <form>
            <div class="form-group">
              <label for="oldpassword">Nome de utilizador</label>
              <input ng-model="oldPassword" type="text" class="form-control" id="oldpassword"
                     placeholder="Digite a sua password aqui...">
            </div>
            <div class="form-group">
              <label for="newpassword">Palavra-passe</label>
              <input ng-model="newPassword" type="password" class="form-control" id="newpassword"
                     placeholder="Digite a nova password aqui...">
            </div>
            <div class="form-group">
              <label for="newpasswordconfirm">Palavra-passe</label>
              <input ng-model="newPasswordConfirm" type="password" class="form-control" id="newpasswordconfirm"
                     placeholder="Confirme a nova password aqui...">
            </div>
            <button ng-click="changePassword()"
                    ng-disabled="oldPassword.length < 1 || newPassword.length < 1
                    || newPasswordConfirm.length < 1 || newPassword !== newPasswordConfirm"
                    class="btn btn-default">Salvar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
