<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>REGISTAR FUNCIONÁRIO</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 well search-result">
        <p ng-show="successMessage.length > 0" class="bg-success">{{successMessage}}</p>
        <pre ng-show="errorMessage.length > 0" class="bg-danger">{{errorMessage}}</pre>

        <div class="col-md-2">
          <form>
            <div class="form-group">
              <label for="usernamesupport">Nome de utilizador</label>
              <input ng-model="newUsername" type="text" class="form-control" id="usernamesupport"
                     placeholder="Nome de utilizador">
            </div>
            <div class="form-group">
              <label for="passwordsupport">Palavra-passe</label>
              <input ng-model="newPassword" type="password" class="form-control" id="passwordsupport"
                     placeholder="Palavra-Passe">
            </div>
            <button ng-click="registerSupport()"
                    ng-disabled="newUsername.length < 1 || newPassword.length < 1"
                    class="btn btn-default">Registar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
