<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row tabs col-lg-12">
      <div class="col-lg-1" href="#/statistics/posts"
           ng-class="{active: type === 'posts'}">
        <a href="#/statistics/posts">Publicações</a>
      </div>
      <div class="col-lg-1" href="#/statistics/chats"
           ng-class="{active: type === 'chats'}">
        <a href="#/statistics/chats">Conversações</a>
      </div>
    </div>
    <div class="row graphics">
      <div class="col-lg-12 well">
        <div class="row">
          <div class="col-lg-12">
            <p>Última atualização às {{lastUpdate | date:'HH:mm'}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-2">
            <canvas id="pieChar" class="chart chart-pie" data="dataPie"
                    width="200" height="200"
                    labels="labelsPie" colours="coloursPie"></canvas>
          </div>
          <div class="col-lg-4" style="margin-top: 10px">
            <p><span style="color: #56B257" class="glyphicon glyphicon-stop" aria-hidden="true"></span> Resolvidas</p>

            <p><span style="color: #f39622" class="glyphicon glyphicon-stop" aria-hidden="true"></span> Em resolução</p>

            <p><span style="color: #cbcbcb" class="glyphicon glyphicon-stop" aria-hidden="true"></span> Em espera</p>
          </div>
          <div class="col-lg-6">
            <table>
              <thead>
              <tr>
                <td>Estado</td>
                <td>Número</td>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Em espera</td>
                <td>{{dataPie[queuePos]}}</td>
              </tr>
              <tr>
                <td>Em resolução</td>
                <td>{{dataPie[inprogressPos]}}</td>
              </tr>
              <tr>
                <td>Resolvidas</td>
                <td>{{dataPie[solvedPos]}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <p>Todos hoje:</p>
          </div>
          <div class="col-lg-6">
            <p>Resolvido este mês:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <canvas class="chart chart-bar" data="dataBarDaily"
                    labels="labelsBarDaily" colours="coloursThreeBar"></canvas>
          </div>
          <div class="col-lg-6">
            <canvas id="barChar" class="chart chart-bar" data="dataBarMonthly"
                    labels="labelsBarMonthly" colours="coloursOneBar"></canvas>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <p>Resolvido este ano:</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <canvas class="chart chart-bar" data="dataBarYearly"
                    labels="labelsBarYearly" colours="coloursOneBar"></canvas>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /#page-content-wrapper -->
