<!DOCTYPE html>
<!--


       444444444       000000000      333333333333333
      4::::::::4     00:::::::::00   3:::::::::::::::33
     4:::::::::4   00:::::::::::::00 3::::::33333::::::3
    4::::44::::4  0:::::::000:::::::03333333     3:::::3
   4::::4 4::::4  0::::::0   0::::::0            3:::::3
  4::::4  4::::4  0:::::0     0:::::0            3:::::3
 4::::4   4::::4  0:::::0     0:::::0    33333333:::::3
4::::444444::::4440:::::0 000 0:::::0    3:::::::::::3
4::::::::::::::::40:::::0 000 0:::::0    33333333:::::3
4444444444:::::4440:::::0     0:::::0            3:::::3
          4::::4  0:::::0     0:::::0            3:::::3
          4::::4  0::::::0   0::::::0            3:::::3
          4::::4  0:::::::000:::::::03333333     3:::::3
        44::::::44 00:::::::::::::00 3::::::33333::::::3
        4::::::::4   00:::::::::00   3:::::::::::::::33
        4444444444     000000000      333333333333333



  This is the default "403: Forbidden" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/403.js`

  You can trigger this response from one of your controllers or policies with:
  `return res.forbidden( msg );`
  (where `msg` is an optional error message to include in the response)




-->
<html>
<head>
  <title>Forbidden</title>
  <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
  <style>
    body{
      background: white;
      color:#f39622;
    }
    .main{
      text-align: center;
      margin-top: 2%;

    }
    img{
      height: 30%;
      width: 30%;
      vertical-align: middle;
      margin-left: 35%;
    }
    h1,h2, .help{
      font: 87.5%/1.5em 'Calibri', sans-serif;
      font-size: 200%;
    }
    a{
      text-decoration: none;
      color: #f39622;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }
    a:hover{
      text-shadow: 0 1px 0 #666,
      0 2px 0 #555,
      1px 3px 0 #444,
      2px 4px 0 #333,
      3px 5px 0 #222,
      4px 6px 1px #111,
      0 0 5px rgba(0,0,0,.6),
      0 1px 3px rgba(0,0,0,.5),
      1px 3px 5px rgba(0,0,0,.4),
      3px 5px 10px rgba(0,0,0,.3),
      5px 10px 10px rgba(0,0,0,.2),
      10px 20px 20px rgba(0,0,0,.1);
    }
    .main{
      border: 1px solid;
      margin-right: 20%;
      margin-left: 20%;
    }
  </style>
</head>
<body>

  <div class="page">
    <div class="ocean">
     <img src="../login/assets/logo.png">
    </div>

    <div class="main">
      <h1>
      STOP!
      </h1>
      <h2>
        <% if (typeof error !== 'undefined') { %>
        <%= error %>
        <% } else { %>
        Não têm permissões para aceder a esta página.
        <% } %>
      </h2>
      <p class="help">
      Volte à pagina inicial <a href="/">aqui</a>
      </p>
    </div>
  </div>

</body>
</html>
