<!DOCTYPE html>
<!--


555555555555555555      000000000          000000000
5::::::::::::::::5    00:::::::::00      00:::::::::00
5::::::::::::::::5  00:::::::::::::00  00:::::::::::::00
5:::::555555555555 0:::::::000:::::::00:::::::000:::::::0
5:::::5            0::::::0   0::::::00::::::0   0::::::0
5:::::5            0:::::0     0:::::00:::::0     0:::::0
5:::::5555555555   0:::::0     0:::::00:::::0     0:::::0
5:::::::::::::::5  0:::::0 000 0:::::00:::::0 000 0:::::0
555555555555:::::5 0:::::0 000 0:::::00:::::0 000 0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
            5:::::50:::::0     0:::::00:::::0     0:::::0
5555555     5:::::50::::::0   0::::::00::::::0   0::::::0
5::::::55555::::::50:::::::000:::::::00:::::::000:::::::0
 55:::::::::::::55  00:::::::::::::00  00:::::::::::::00
   55:::::::::55      00:::::::::00      00:::::::::00
     555555555          000000000          000000000



  This is the default "500: Server Error" page.
  User agents that don't "Accept" HTML will see a JSON version instead.
  You can customize the control logic for your needs in `config/500.js`

  Sails considers a request in a "500: Server Error" state when
  your app throws a catchable error (not inside of an asynchronous callback).

  You can also trigger this response from one of your controllers or policies with:
  `return res.serverError( e );`
  (where `e` is an optional message, error, or array of errors to include in the response)

-->
<html>
<head>
  <title>Server Error</title>
  <link href='http://sailsjs.org/styles/fonts.css' rel='stylesheet'/>
  <style>
    body{
      background: white;
      color:#f39622;
    }
    .main{
      text-align: center;
      margin-top: 2%;

    }
    img{
      height: 30%;
      width: 30%;
      vertical-align: middle;
      margin-left: 35%;
    }
    h1,h2, .help{
      font: 87.5%/1.5em 'Calibri', sans-serif;
      font-size: 200%;
    }
    a{
      text-decoration: none;
      color: #f39622;
      -webkit-transition: all 0.7s ease;
      transition: all 0.7s ease;
    }
    a:hover{
      text-shadow: 0 1px 0 #666,
      0 2px 0 #555,
      1px 3px 0 #444,
      2px 4px 0 #333,
      3px 5px 0 #222,
      4px 6px 1px #111,
      0 0 5px rgba(0,0,0,.6),
      0 1px 3px rgba(0,0,0,.5),
      1px 3px 5px rgba(0,0,0,.4),
      3px 5px 10px rgba(0,0,0,.3),
      5px 10px 10px rgba(0,0,0,.2),
      10px 20px 20px rgba(0,0,0,.1);
    }
    .main{
      border: 1px solid;
      margin-right: 20%;
      margin-left: 20%;
    }
  </style>
</head>
<body>
  <div class="fivehundred">
    <div class="ocean">   
     <img src="/login/assets/logo.png">
   </div>
   <div class="main">
    <h1>
      Erro do Servidor
    </h1>
    <h2>
      Tente novamente mais tarde.
    </h2>
    <% if (typeof error !== 'undefined') { %>
    <pre class="error"><code>
     <%- error %>
   </code></pre>
   <% } else { %>
   <p class="error">
   Estamos a tentar resolver o problema o mais rápidamente possivel.<br/>
    Se o problema presistir,<a href="mailto://you@your-domain.com">contacte o administrador do sistema</a> e informe-lhe
    do problema que ocorreu. Obrigado.
  </p>
  <% } %>

</div>
</div>
</body>
</html>
