<div ng-app="GlinttSupportClient">
  <div ng-view></div>
</div>

<link rel="stylesheet" href="client/styles/app.css"/>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/sails.io.js"></script>
<script src="lib/jquery.js"></script>
<script src="client/app.js"></script>
<!-- Esta linha contem um codigo que depende da app criada na dropbox -->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%- sails.config.keys.DROPBOX_APP_KEY %>"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
<script src="client/scripts/controllers/chatController.js"></script>
<script src="client/scripts/controllers/homeController.js"></script>
<script src="client/scripts/services/loggedInService.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script>
    var developerKey = "<%- sails.config.keys.DRIVE_BROWSER_API_KEY %>";
    var clientId = "<%- sails.config.keys.GOOGLE_CLIENT_ID %>";
    var appId = "<%- sails.config.keys.DRIVE_APP_ID %>";
</script>