<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Glintt Support</title>
</head>
<body>
<%- body %>
<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
</body>
</html>
