<div ng-app="GlinttSupportLogin" ng-cloak>
  <div ng-view></div>
</div>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="login/app.js"></script>
<script src="login/scripts/controllers/login.js"></script>
