<!-- Bootstrap Core CSS -->
<link href="lib/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="supervisor/styles/simple-sidebar.css" rel="stylesheet">
<link href="supervisor/styles/buttons.css" rel="stylesheet">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div id="wrapper" ng-app="GlinttSupportSupervisor">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="support/assets/logo.png" class="logo" width="100" height="72">
      </li>
      <li ng-controller="LogoutCtrl">
        <dl>{{userInfo.username}}
          <a href="#/preferences"> <img src="support/assets/definicoes.png" class="logo cog" width="20" height="20"></a>
          <a ng-click="logout()"><img src="support/assets/logout.png" class="logo logout" width="20" height="20"></a>
        </dl>
      </li>

      <!--
      <li class="sidebar-brand">
        <img src="support/assets/logo.png" class="logo" width="100" height="72">
      </li>
      <li ng-controller="LogoutCtrl" style="margin-top: 10%;">
        <span href="#/preferences" class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        <span ng-click="logout()" class="glyphicon glyphicon-off" aria-hidden="true"></span>
      </li>
      -->
      <li class="clickable" onclick="window.location='#/';">
        Redes Sociais
      </li>
      <li class="clickable" onclick="window.location='#/info';">
        Informações Atuais
      </li>
      <li class="clickable" onclick="window.location='#/statistics/chats';">
        Estatísticas de Atividade
      </li>
      <li class="clickable" onclick="window.location='#/registersupport';">
        Registar funcionários
      </li>
    </ul>
  </div>

  <div ng-view></div>
</div>
<!-- /#wrapper -->

<script src="lib/jquery.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/Chart.js"></script>
<script src="lib/angular-chart/angular-chart.min.js"></script>
<script src="supervisor/app.js"></script>
<script src="lib/sails.io.js"></script>
<script src="supervisor/scripts/services/loggedInService.js"></script>
<script src="supervisor/scripts/controllers/registerController.js"></script>
<script src="supervisor/scripts/controllers/statisticsController.js"></script>
<script src="supervisor/scripts/controllers/infoController.js"></script>
<script src="supervisor/scripts/controllers/hashtagController.js"></script>
<script src="supervisor/scripts/controllers/preferencesController.js"></script>
