<!-- Bootstrap Core CSS -->
<link href="lib/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="support/styles/simple-sidebar.css" rel="stylesheet">
<link href="support/styles/mainframe.css" rel="stylesheet">
<link href="support/styles/chat.css" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div ng-app="GlinttSupportSupport">
  <div ng-view></div>
</div>

<script src="lib/jquery.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-sanitize.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="support/app.js"></script>
<!-- Esta linha contem um codigo que depende da app criada na dropbox -->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%- sails.config.keys.DROPBOX_APP_KEY %>"></script>
<script type="text/javascript" src="https://apis.google.com/js/api.js"></script>
<script type="text/javascript" src="https://apis.google.com/js/client.js"></script>
<script src="support/scripts/services/loggedInService.js"></script>
<script src="support/scripts/controllers/chatController.js"></script>
<script src="support/scripts/controllers/queueController.js"></script>
<script src="support/scripts/controllers/postsController.js"></script>
<script src="support/scripts/controllers/refreshController.js"></script>
<script src="support/scripts/controllers/preferencesController.js"></script>
<script src="lib/sails.io.js"></script>
<script>
    var developerKey = "<%- sails.config.keys.DRIVE_BROWSER_API_KEY %>";
    var clientId = "<%- sails.config.keys.GOOGLE_CLIENT_ID %>";
    var appId = "<%- sails.config.keys.DRIVE_APP_ID %>";
</script>
