<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" ng-controller="RefreshCtrl">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="support/assets/logo.png" class="logo" width="100" height="72">
      </li>
      <li ng-controller="LogoutCtrl">
        <dl>{{userInfo.username}}
         <a href="#/preferences"> <img src="support/assets/definicoes.png" class="logo cog rotate" width="20" height="20"></a>
         <a ng-click="logout()" style="cursor:pointer"><img src="support/assets/logout.png" class="logo logout rotate" width="20" height="20"></a>
       </dl>

     </li>
     <li style="border-bottom: 1px solid #f39622">Chat</li>

     <div class="scroll" >

      <div class="conversation" ng-repeat="chat in chats">
        <p>
          <span>
            <img src="{{chat.customer.photoURL}}" width="30" height="30"/>
          </span>{{chat.customer.username}}
          <small style="color:#e4e2e0" ng-if="chat.chatLines[chat.chatLines.length-1].createdAt < 60">{{chat.chatLines[chat.chatLines.length-1].createdAt}} min</small>
          <small style="color:#e4e2e0" ng-if="chat.chatLines[chat.chatLines.length-1].createdAt >= 60">mais de {{chat.chatLines[chat.chatLines.length-1].createdAt/60}} h</small>
        </p>
        <div class="action_button1">
          <img src="support/assets/add_queue.png" width="15" height="15" ng-click="updateChat(chat.customer.id)"/>
        </div>

        <div class="action_button2">
          <img src="support/assets/solved.png" width="15" height="15" ng-click="resolveChat(chat.customer.id)"/>
        </div>
        <div style="margin-right:14px">{{chat.chatLines[chat.chatLines.length-1].message | limitTo: 150}}</div>
      </div>
    </div>

    <div ng-controller="QueueCtrl">
    <li style="border-bottom: 1px solid #f39622; border-top: 2px solid grey ;">Posts
      <img src="support/assets/refresh_w.png" class="logo rotate" width="17" height="17" ng-click="refresh()"  style="margin-left: 60%; cursor:pointer">
    </li>

    <div class="scroll" >

      <div class="conversation" ng-repeat="key in posts_keys">
        <p>
          <span>
            <img ng-src="{{posts[key].postLines[0].photoURL}}" width="30" height="30"/>
            <img ng-src="support/assets/face.png" width="6" height="12" ng-if="posts[key].socialNetwork == 'facebook'"/>
            <img ng-src="support/assets/twitter.png" width="14" height="12" ng-if="posts[key].socialNetwork == 'twitter'"/>
            {{posts[key].postLines[0].username}}
          </span>
          <small style="color:#e4e2e0; font-size: 80%">- {{posts[key].postLines[0].date |  date:'dd/MM HH:mm' }}h</small>
        </p>

        <div class="action_button1">
          <img src="support/assets/add_queue.png" width="15" height="15" ng-click="updatePost(posts[key].id)"/>
        </div>

        <div class="action_button2">
          <img src="support/assets/solved.png" width="15" height="15" ng-click="resolvePost(posts[key].id)"/>
        </div>

        <div style="margin-right:14px">{{posts[key].postLines[0].message | limitTo: 150}}</div>
      </div>
    </div>
    </div>
  </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="page-header">
          <p><b> PUBLICAÇÕES MARCADAS </b></p>
        </div>
        <div class="comments-list"  ng-controller="PostsCtrl">
         <!-- publicaçao -->
         <div class="single-comment" ng-repeat="post in posts" ng-init="getReplies(post.id)">
          <div class="commentBox">
            <div class="commenterImage">
              <img src="support/assets/twitter_w.png" width="20" height="18" ng-if="post.socialNetwork == 'twitter'"/>
              <img src="support/assets/face_w.png" width="10" height="21" ng-if="post.socialNetwork == 'facebook'"/>
              {{post.postLines[0].username}}
              <small style="color:white; font-size: 65%">-{{post.postLines[0].date |  date:'dd/MM HH:mm' }}h</small>
              <img src="support/assets/refresh_w.png" class="logo rotate" width="17" height="17" ng-click="refreshPost(post.id)"  style="margin-left: 55%; cursor:pointer">
            </div>
          </div>
          <div style="margin-top:9%"><p class="taskDescription">{{post.postLines[0].message}}</p></div>
          <div class="comment_reply" ng-repeat="postline in post.postLines" ng-if="posts[post.id].postLines[0] != postline">
            <span>{{postline.username}}
            </span>
            {{postline.message}}
            <a ng-click="showDetails = ! showDetails">
              <img ng-src="support/assets/{{imageSourceExpand}}" width="13" height="13" ng-if="replies_post[post.id][postline.id][0] != null" style="cursor:pointer" ng-click="imageSourceExpand = { 'expand.png': 'minimize.png', 'minimize.png':'expand.png'}[imageSourceExpand]" />
            </a>
            <small style="color:#545454; font-size: 65%"><br>{{postline.date |  date:'dd/MM HH:mm' }}h</small>
            <div class="reply_to_reply" ng-if="replies_post[post.id][postline.id][0] != null" ng-repeat="(key, value) in replies_post[post.id][postline.id]" ng-class="{'hidden': ! showDetails}">
              <span>{{replies_post[post.id][postline.id][key].author}}</span>
              {{replies_post[post.id][postline.id][key].message}}
              <small style="color:#545454; font-size: 65%"><br>{{replies_post[post.id][postline.id][key].date |  date:'dd/MM HH:mm' }}h</small>
            </div>
          </div>
          <div class="chat_resolve" ng-if="post != null">Marcar como resolvido
            <img src="support/assets/solved.png" width="15" height="15" ng-click="resolvePost(post.id)" style="cursor:pointer"/>
          </div>
          <div class="actionBox">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input id="respondPost"ng-init="newPost= newPost|| 'none'"class="form-control" style="border:none" type="text" ng-model="post.searchText" ng-keyup="$event.which === 13 && sendPost(post.id)" placeholder="Escrever a resposta aqui..."/>
              </div>
              <div class="form-group">
                <div class="image-wrapper">
                  <img src="support/assets/send_2.png" class="respond_post"  ng-click="sendPost(post.id)"/><!-- falta o button -->
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- termina -->
      </div>
    </div>
    <div ng-controller="ChatCtrl">
      <div class="col-md-5">
        <div class="page-header">
          <p style="color:#f39622"><b> MENSAGENS INSTANTÂNEAS </b></p>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading top-bar" id="topbar">
            <div class="col-md-8 col-xs-8">
              <h3 class="panel-title">
                <img ng-src="support/assets/logomsg.png" class="logo logomsg">
                {{chats[activeChat].customer.username}}</h3>
              </div>
            </div>
            <div class="panel-body msg_container_base" id="message_box">
              <div ng-repeat="line in chats[activeChat].chatLines">
                <div class="row msg_container base_sent" ng-if="line.from != 'customer'">
                  <div class="col-md-10 col-xs-10">
                    <div class="messages msg_sent">

                      <p ng-bind-html="line.message"></p>
                      <time datetime="2009-11-13T20:00" ng-if="line.createdAt < 60">{{1 * line.createdAt + counter}} min</time>
                      <time datetime="2009-11-13T20:00" ng-if="line.createdAt >= 60">mais de {{Math.floor(line.createdAt/60)}} h</time>
                    </div>
                  </div>
                  <div class="col-md-2 col-xs-2 avatar">
                    <img src="support/assets/chat_icon.png" class="img-responsive"/>
                  </div>
                </div>
                <div class="row msg_container base_receive" ng-if="line.from == 'customer'">
                  <div class="col-md-2 col-xs-2 avatar">
                    <img ng-src="{{chats[activeChat].customer.photoURL}}" class="img-responsive">
                  </div>
                  <div class="col-md-10 col-xs-10">
                    <div class="messages msg_receive">
                      <p ng-bind-html="line.message"></p>
                      <time datetime="2009-11-13T20:00" ng-if="line.createdAt < 60">{{line.createdAt}} min</time>
                      <time datetime="2009-11-13T20:00" ng-if="line.createdAt >= 60">mais de {{Math.floor(line.createdAt/60)}} h</time>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chat_resolve" ng-if="chats[activeChat] != null">Marcar como resolvido
                <img src="support/assets/solved.png" width="15" height="15" ng-click="resolveChat(chats[activeChat].customer.id)"/>
              </div>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input id="btn-input" ng-model="newMessage" type="text"
                ng-keyup="$event.which === 13 && sendMessage()"
                ng-disabled="activeChat === -1"
                class="form-control input-sm chat_input"
                placeholder="Escrever a resposta aqui..."/>
                  <div class="input-group-btn dropup" ng-if="activeChat != -1">
                      <a class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                          <img src="support/assets/botaoANEXO.png"/>
                      </a>
                      <ul class="dropdown-menu" role="menu">
                          <li><img src="support/assets/botaodropbox.png" ng-click="uploadFileDropbox()" ng-disabled="activeChat === -1" /></li>
                          <li><img src="support/assets/botaogdrive.png" ng-click="uploadFileGoogleDrive()" ng-disabled="activeChat === -1" /></li>
                      </ul>
                  </div>
               <div class="input-group-btn" ng-if="activeChat != -1">
                 <img src="support/assets/send_2.png" ng-click="sendMessage()" class="sendmsg" />
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="col-md-2">
        <div class="page-header">
          <p><b> CHAT</b></p>
        </div>
        <div class="panel panel-primary">
          <div class="panel-body chatlist">
            <ul class="media-list">
              <li ng-click="activateChat(key)" ng-repeat="key in chatsKeys" class="media person" ng-if="chats[key].state == 'in progress'">
                <div class="media-body">
                  <div class="media">
                    <a class="pull-left" ng-click="activateChat(key)">
                     <!-- <small>{{unread[key]}}</small>-->
                     <img ng-src="{{chats[key].customer.photoURL}}" width="30" height="30"/>
                     <ul ng-if="unread[key] != 0">
                      <li class="notification-container">
                        <span class="notification-counter">{{unread[key]}}</span>
                      </li>
                    </ul>
                  </a>
                  <div>
                    <h5>{{chats[key].customer.username}}
                    </h5>
                  </div>
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
