<body>
<div id="wrapper" ng-controller="PreferencesCtrl">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img src="support/assets/logo.png" class="logo" width="100" height="72">
      </li>
      <li ng-controller="LogoutCtrl">
        <dl>{{userInfo.username}}
          <a href="#/"> <img src="support/assets/definicoes.png" class="logo cog" width="20" height="20"></a>
          <a ng-click="logout()"><img src="support/assets/logout.png" class="logo logout" width="20" height="20"></a>
        </dl>

      </li>
      <li style="border-bottom: 1px solid #f39622">Preferências</li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="page-header">
            <p><b> EDITAR PERFIL </b></p>
          </div>
          <div class="preferences-box">
            <p ng-show="successMessage.length > 0" class="bg-success">{{successMessage}}</p>
            <pre ng-show="errorMessage.length > 0" class="bg-danger">{{errorMessage}}</pre>

            <div class="preferences-input">
              <p><label for="dummy1"> Password Atual</label>
                <input ng-model="oldPassword"
                  type="password" required id="dummy1" placeholder="Digite a sua password aqui...">
              </p>
            </div>
            <div class="preferences-input">
              <p><label for="dummy2"> Nova Password </label>
                <input ng-model="newPassword"
                  type="password" required id="dummy2" placeholder="Digite a nova password aqui..."></p>
            </div>
            <div class="preferences-input">
              <p><label for="dummy3">Confirmar Password</label>
                <input ng-model="newPasswordConfirm"
                  type="password" required id="dummy3" placeholder="Confirme a nova password aqui...">
              </p>
            </div>
            <p><input
              ng-disabled="oldPassword.length < 1 || newPassword.length < 1
               || newPasswordConfirm.length < 1"
              type="submit" ng-click="changePassword()" value="Salvar"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
<!-- /#wrapper -->
