
.panel{
  margin-bottom: 0px;
  border-radius: 0;
  border:none;
}

.chat-window{
  bottom:0;
  position:fixed;
  float:right;
  margin-left:10px;
}

.msg_container_base{
  background: white;
  margin: 0;
  padding: 0 10px 10px;
  max-height:78.2vh;
  min-height:78.2vh;
  overflow-x:hidden;
  overflow-y:scroll;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee; 
  border-right: 1px solid #eee;  
}
#topbar{
  background-color: #f39622;
  border-bottom: 1px solid #f39622; 
  color: white;
  height: 39px;
}
.col-md-8{
  padding: 0;
}
.top-bar {
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
  padding-left:0;
  margin-left:0;
  background-color: white;
  border: 1px solid #8E8E8E;
}
.messages {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
  font-size: 13px;
  margin: 0 0 0.2rem 0;
}
.messages > time {
  font-size: 11px;
  color: #939393;
}
.msg_container {
  padding: 10px;
  overflow: hidden;
  display: flex;
}
.avatar {
  position: relative;
}

.base_sent {
  justify-content: flex-end;
}

.msg_sent > time{
  float: right;
}


/*.btn-group.dropup{
  position:fixed;
  left:0px;
  bottom:0;
  }*/

  .panel-footer{
    padding: 0;
    background-color: white;
    border-top: 1px solid transparent;
  }

  .chat_input{
   border: none;
   border-color: transparent;
   height: 35px;

 }
 .chat_input:focus{
  outline: 0;
}


.input-group-btn {
  border-color: #FC7D0D;
  border: 1px solid #fc7d0d;
  padding: 0 0px 0 14px;
  background: #f39622; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f39622 0%, #d05800 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f39622), color-stop(100%,#d05800)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #f39622 0%,#d05800 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39622', endColorstr='#d05800',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
  transition: opacity .2s ease-out;
}

.btn{
  height: 20px;
  width: 20px;
  padding: 0 0px 0 0px;
  margin-right: 18px;
  margin-bottom: 3px;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.dropdown-toggle img{
  height: 13px;
  width: 25px;
}

/** Dropdown menu **/
ul.dropdown-menu{
  background-color: #f39622;
  text-align:center;
  min-width:100%;
  width:auto;
}

ul.dropdown-menu li {
 display: inline;
 height: 40px;
 width: 40px;
 padding: 0 0px 0 0px;
}

ul.dropdown-menu li img {
  height: 40px;
  width: 40px;
  padding: 0 0px 0 0px;
  margin-right: 18px
}

ul.dropdown-menu > :first-child {
  margin-left: 18px
}



.input-group-btn:hover{
  opacity: 0.7;
  cursor:pointer;
}

.input-group-btn .respond_post{
  margin-top: 4px;
  margin-left: 14px;
  height: 25px;
  width: 25px;
  opacity: 0.5;
}

.input-group-btn .sendmsg{
  height: 20px;
  width: 20px;
  margin-right: 18px
}
.logomsg{
  width: 30px;
  height: 25px;
  margin-top: -2px;
}
.input-group{
  border: 1px solid #C2C1C1;
  border-bottom-left-radius: 3px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.input-group input:focus{
  box-shadow: 0 0 5px #f39622;
}
#btn-input{
  height: 26px;
}

.panel-footer .input-group{
  width: 100%;
}
.chat_resolve{
  margin: 2% 3% 5% 0;
  border-top: 1px solid #f39622;
  float:right;
  color: #f39622;
  bottom: 0;
}
.chat_resolve img{
  border: 1px solid #f39622;
  -webkit-transition: border .2s ease-out;
  -moz-transition: border .2s ease-out;
  -o-transition: border .2s ease-out;
  transition: border .2s ease-out;
  cursor: pointer;
}
.chat_resolve img:hover{
  border: 1px solid #F5F5F5;
}
/*JANELA DO CHAT */
.media{
  cursor: pointer;
}
.media-body{
 border-bottom: 1px solid #eee;
 padding-bottom: 20px;
}
.chatlist{
  background-color: white;
  border: 1px solid #eee; 
  max-height: 84.9vh;
  min-height: 84.9vh;
  overflow: scroll;
  overflow-x:hidden; 
}

.notification-container {
  position: relative;
  top: -25px;
  left: -18px;
}

.notification-counter {   
  position: absolute;
  top: -2px;
  left: 12px;

  background-color: #f39622;
  color: #fff;
  border-radius: 3px;
  padding: 1px 3px;
  font: 8px Verdana;
}
ul
{
  list-style-type: none;
}
/*Message Box*/
.msg_sent 
{
  padding-bottom:20px !important;
  margin-right:0;
  background-color: white;
  border: 1px solid #f39622;
  position: relative;
}

.msg_sent:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 13px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  right: -13px;
  top: 18px;
}

.msg_sent:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 0 10px 13px;
  border-color: transparent #f39622;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -10px;
  right: -14px;
  top: 18px;
}

.msg_receive{
  position: relative;
  padding-left:10px;
  margin-left:0;
  background-color: white;
  border: 1px solid #8E8E8E;
}

.msg_receive:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 13px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  margin-top: -10px;
  left: -13px;
  top: 18px;
}



.msg_receive:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 13px 10px 0;
  border-color: transparent #8E8E8E;
  display: block;
  width: 0;
  z-index: 0;
  margin-top: -10px;
  left: -14px;
  top: 18px;
}