body{
    background-color: white;
}

.single-comment{
  background-color: white;
  border: 1px solid #f39622; 
  border-radius: 3px;
  margin: 4%;
}

.commentBox {
    padding-bottom:17px;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
    
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    margin-left: -5px;   
    height: 28px;
    width: 58px;
}

.image-wrapper{
   border: 1px solid #fc7d0d;
   background: #f39622; /* Old browsers */
   background: -moz-radial-gradient(center, ellipse cover, #f39622 0%, #d05800 100%); /* FF3.6+ */
   background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f39622), color-stop(100%,#d05800)); /* Chrome,Safari4+ */
   background: -webkit-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* Chrome10+,Safari5.1+ */
   background: -o-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* Opera 12+ */
   background: -ms-radial-gradient(center, ellipse cover, #f39622 0%,#d05800 100%); /* IE10+ */
   background: radial-gradient(ellipse at center, #f39622 0%,#d05800 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f39622', endColorstr='#d05800',GradientType=1 ); 
   height: 26px;
   -webkit-transition: opacity .2s ease-out;
   -moz-transition: opacity .2s ease-out;
   -o-transition: opacity .2s ease-out;
   transition: opacity .2s ease-out;.

}
.image-wrapper:hover{
    cursor:pointer;
    opacity: 0.7;
}
.image-wrapper img{
    margin-top: 4px;
    margin-left: 17px;
    height: 20px;
    width: 20px;
}
.form-group{
    border: 1px solid #C2C1C1;  
    background-color: white;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
#respondPost{
    width: 100%;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    height: 26px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#respondPost:focus{
   box-shadow: 0 0 5px #f39622;

}
.taskDescription {
    margin-top:15px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 8px;
}

.comments-list {
    padding:0;
    list-style:none;
    min-height:85vh;
    max-height:85vh;
    overflow:scroll;
    border: 1px solid #eee; 
    overflow-x: hidden;
}

.comments-list li > div {
    display:table-cell;
}
.commenterImage {
    padding-bottom: 3px;
    height:100%;
    width: 100%;
    float:left;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #C2C1C1; 
    background-color: #f39622;
    padding: 8px 4px 8px 14px;
}
.commenterImage img{
    margin-right: 15px;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    padding:10px;
}

.page-header{
    color:#f39622;
    font-size: 16px;
}

.comment_reply{
    border-top: 1px solid #C2C1C1; 
    padding: 2% 0 2% 4%;
    margin-left: 3%;
}

.comment_reply span{
    color: #f39622;
}

.reply_to_reply{
    border-top: 1px solid #C2C1C1; 
    padding: 2% 0 2% 8%;
    margin-left: 0%;
    margin-top: 2%;
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.reply_to_reply.hidden{
    transition-property: all;
    transition-duration: 5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    max-height: 0;
}


/*PREFERENCIAS*/

.preferences-box{
    background-color: #e4e2e0;
    border: 1px solid #545454;
    padding-left: 5%;
    padding-top: 5%;
    color: #f39622;
}
.preferences-box input[type="text"]{
    width: 55%;
    margin-left: 3%;
}
.preferences-box input[type="password"]{
    width: 55%;
    margin-left: 3%;
}

.preferences-box input[type="submit"]{
    margin-left: 80%;
    color: white;
    background-color: #f39622;
    list-style: none;
    display: inline;
    border:1px solid #f39622;
    padding:3px 8px 3px 8px;
}

.preferences-box label{
    width:150px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

.rotate{  
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;    
}  

.rotate:hover  
{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}  

