/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */


 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100vh;
    margin-left: -250px;
    overflow-y: auto;
    background: #545454;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    height: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
    color: #f39622; 
}

.sidebar-nav li dl {
    margin-top: 10%;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: rgba(255,255,255,0.2);
}

.cog{
    margin-left: 32%;
}
.logout{
    margin-left: 5%;
}
.sidebar-nav .scroll{
    background-color: #545454;
    height: 36vh;
    overflow-y: scroll;
}
.sidebar-nav .scroll .conversation{
    color: white;
    height: 48%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    border-bottom: 1px solid orange;    
}
/*BATOTA AQUI; RESOLVER DEPOIS*/
.sidebar-nav .scroll .conversation .action_button1{
    float: right;
    z-index: 0;
    margin-left: -8%;
    margin-top: 9%;
}
.sidebar-nav .scroll .conversation .action_button2{
    float: right;
    z-index: 1;
    margin-top: -4%;

}

.action_button1 img, .action_button2 img{
    border: 1px solid #f39622;
    -webkit-transition: border .2s ease-out;
    -moz-transition: border .2s ease-out;
    -o-transition: border .2s ease-out;
    transition: border .2s ease-out;
    cursor: pointer;
}

.action_button1 img:hover, .action_button2 img:hover{
   border: 1px solid #545454;
}
/**/
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    margin-left: 20%;
    margin-top: 7%;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

::-webkit-scrollbar {  
    width: 7px;  
}  
::-webkit-scrollbar-track {  
    background-color: transparent;  
}  
::-webkit-scrollbar-thumb {  
    background-color: #f39622;  
}  
::-webkit-scrollbar-thumb:hover {  
    background-color: #FFB047;  
}  