/* ---------- <!-- ================= TOP BAR ======================== --> ---------- */


.logo-bar {
    width: 50px;
}

.username {
    font-weight: normal ;
    letter-spacing: 2px;
    color: #ffffff;
}

.exit-button {
    text-transform: uppercase ;
    letter-spacing: 2px;
    color: #ffffff;
    border-top: 1px solid #f58f37;
}
.exit-button:hover {
    text-decoration: none;
    color: #ffffff;
    border-top: 1px solid #ffffff;
    opacity: 0.5;
    padding-top:5px;
    margin-top: -5px;
}

.nav-item {
    margin-top: 10px;
}
nav.navbar {
    background-color: #f58f37;
    padding: 10px;
}


/* ----------- <!-- ================= CHAT LINES ======================== --> --------- */

/* messages area */
div.chat-box {
    background-color: transparent;
    z-index: 10;
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 15px;
}

/* chatlines */
.chatline {
    margin: 10px 0 ;
}

/* user image */
img.img-responsive { 
    border-radius: 0; 
    width: 100%; 
    max-width: 100px; 
    min-width: 40px; 
}


/* support image */
img.img-sup { 
    border-radius: 0; 
    width: 100%; 
    max-width: 100px; 
    min-width: 40px; 
}

/* message bubble pointer*/
.pointer-left {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #ffffff;
    diaplay: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    left: -15px;
    top: 20px;
}

.pointer-border-left {
    border-color: transparent #dddcda;
    border-width: 16px 16px 16px 0;
    left:-18px;
    z-index: 0;
    margin-top: -16px;
}


.pointer-right {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #ffffff;
    diaplay: block;
    width: 0;
    z-index: 1;
    margin-top: -15px;
    right:-15px;
    top: 20px;
}

.pointer-border-right {
    border-color: transparent #f58f37;
    border-width: 16px 0 16px 16px;
    right:-18px;
    z-index: 0;
    margin-top: -16px;
}



/* user message bubble */
div.client-chatp {
    border-radius: 2px;
    border: 2px solid #dddcda ;
    background-color: #ffffff;
    color: #000000;
    padding: 6px 10px;
    margin-left: 15px;
}

/* support message bubble */ 
div.worker-chatp {
    border-radius: 2px;
    border: 2px solid #f58f37;
    background-color: #ffffff;
    color: #000000;
    padding: 6px 10px;
    margin-right: 15px;
}

/* message content */
p {}

/* ------- <!-- ================= FOOTER - WRITE NEW LINE ======================== --> ------ */


.footer {
    background-color: #f58f37;
}

.footer-row {
    margin-bottom: 0 ;
    margin-top: 5px ;
    margin-left: 4px;
    margin-right: 4px;
}

/* input textarea */
div.text-area { padding: 0; padding-right: 2px; }
textarea {
    width: 100%;
    resize: none;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}

/* send and attach buttons */
div.btn-area { padding:0 ;}
button.btn-opt {
    width: 100%;
    height: 50px ;
    background-color: transparent;
    border: none ;
    padding: 0;
    display: inline;
}
button.btn-opt:hover {
    border: 1px solid #bf722d;
    border-radius: 5px;
}
button.btn-opt:active {
    background-color: #bf722d ;
}

/* attach */
#attach-btn > img { width: 55px; }
/* send */
#send-btn > img { width: 40px; }