/***************---------- clientStyle.css ----------***************/


/* ------------- nav bar -------------------*/
a.nav-bar-li {
    text-decoration: none;
    letter-spacing: 2px;
    border-top: 3px solid #f58f37;
    font-weight: lighter;
}

a.active {
    border-top: 3px solid #ffffff;
    font-weight: 500;
}

a.nav-bar-li:hover {
    border-top: 3px solid #ffffff;
    opacity: 0.5;
}

nav.navbar {
    background-color:#f58f37;
    border-radius:0;
    border:none;
    margin:0;
    padding-left: 3%;
    padding-right: 3%;
}

#navCollapse {
    background-color: #f58f37;
    border: 1px solid #ffffff;
}
#navCollapse:hover {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #f58f37;
}

/* ------------- section home ------------------*/
h3 {
    border: none;
    text-transform:uppercase;
    letter-spacing: 2px;
    color: #f58f37;
}

p.p-black {
    color: #000000;
}

.support-girl-small {
    width: 400px;
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    opacity: 0.5;
}

button.btn-start-chat, button.btn-start-chat:focus {
    border-radius: 0;
    border: 1px solid #f58f37;
    background-color:#f58f37; 
    color:#ffffff; 
    text-transform: uppercase;
    margin-bottom: 40px;
}

button.btn-start-chat:hover {
    border: 1px solid #f58f37;
    color: #f58f37 ;
    background-color: #ffffff;
}

button.btn-start-chat:active {
    border: 1px solid #bf722d;
    color: #ffffff ;
    background-color: #bf722d;
}

#home-block-left {
    margin-top: 15%;
    margin-left: 5%;
}

/* ------------- section about ------------- */
#about {
    background-color:#f58f37 ;
    text-align: justify;
}

#about-div {
    padding-top: 100px;
    padding-bottom: 100px;
}

.h-title {
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

p.p-about {
    font-size: 16px;
}

/* ------------- section services ----------*/
#services {
    margin-top: 100px;
    margin-bottom: 100px;
}

.h-icons {
    text-transform: uppercase;
    color: #f58f37;
    margin-bottom: 20px;
    margin-top: 20px;
}

p.p-icons {
    color: #7f8082 ;
    margin: 0;
}

/* ------------- images -----------------*/
img.logo-bar {
    width: 50px;
    position: absolute;
    top: 3px;
}

img.support-girl {
    width:43%;
}

img.img-icon {
    width:150px;
    border:none; 
    padding:0;
    
    
}

img.footer-icon {
    width:30px;
    margin-right: 10px;
}

/* ------------- footer ------------- */
footer.footer {
    background-color: #f58f37;
}

div#footer-div {
    padding-top: 20px;
    padding-bottom: 15px;
}

p.p-footer {
    color: #ffffff;
    text-transform: uppercase;
}

/* ------------- other elements ---------*/
p {
    color: #ffffff;
}

li {
    text-transform:uppercase; 
    border: none;
}


/* ---------------------------- GROW SHADOW EFFECT ---------------------------- */
.grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smothing: graysacale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border-radius: 100%;
}

.grow:hover, .grow:focus, .grow:active {
    box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5) ;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    border-radius: 100%;    
}
.grow:before {
    content: '';
    position: absolute;
    border: 2px solid #f58f37;
    border-radius: 100%;
    top: 0; right: 0; left: 0; bottom: 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}

.grow:hover:before , .grow:focus:before , .grow:active:before {
    top:-6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
    background-color: #ffffff;
    z-index: -1;
}