/* ----------- MODAL WINDOW --------- */

.modal-title {
    text-align: center;
}

img.modal-icon {
    width: 50%;
    max-width: 150px;
}

button.btn-modal {
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #f58f37;
    border-radius: 5px;
    color: #f58f37;
}

button.btn-modal:hover {
    background-color: #f58f37;
    color: #ffffff;
}

button.btn-modal:active {
    background-color: #bf722d ;
    border-color: #bf722d ;
}

div.modal-body > div.row div {
    margin-top: 10px;
    margin-bottom: 10px;
}

a.a-modal {
    margin-top: 10%;
    padding: 5px 10px;
    background: #ffffff;
    border: 1px solid #f58f37;
    border-radius: 5px;
    color: #f58f37;
}

a.a-modal:hover {
    background-color: #f58f37;
    color: #ffffff;
    text-decoration: none;
}

a.a-modal:active {
    background-color: #bf722d ;
    border-color: #bf722d ;
}