<link rel="stylesheet" href="login/styles/index.css"/>

<div class="container" ng-init="checkLoggedIn()">
  <div class="logo_c">
    <img src="login/assets/logo.png" class="logo" width="200" height="144">
  </div>

  <div id="login">

    <form action="">

      <fieldset class="clearfix">

        <p>
          {{error_message}}
        </p>

        <p>
          <span><img src="login/assets/user_span.png" width="30" height="30"/></span>
          <input ng-model="user.username" type="text" name="username" required placeholder="User">
        </p>

        <p>
          <span><img src="login/assets/pass_span.png" width="30" height="30"/></span>
          <input ng-model="user.password" type="password" name="password" placeholder="Password" required>
        </p>

        <p>
          <input ng-click="login()" type="submit" value="Log In">
        </p>

      </fieldset>

    </form>

  </div>
</div>

