/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

div a, div a:hover {
  text-decoration: none;
  color: white;
}

.clickable {
  cursor: pointer;
}

html * {
  font-family: Calibri;
}

.row.tabs {
  padding: 0;
}

.row.tabs div {
  padding: 5px;
  font-size: 20px;
  text-align: center;
  color: white;
  margin: 0 10px 0 0;
}

.row.tabs div.active {
  background: #f39622;
}

.row.tabs div.unactive {
  background: #666666;
}

.graphics div {
  margin-bottom: 20px;
}

.graphics canvas {
  margin-left: 20px;
}

.graphics table {
  color: white;
  font-size: 20px
}

.graphics thead {
  background: #f39622
}

.graphics tbody {
  background: #cbcbcb
}

.graphics td {
  padding: 10px 30px 10px 30px;
  text-align: center
}

.graphics tbody td:first-child {
  text-align: left
}

h3 {
  color: #f39622;
}

.title div, p {
  margin: 0;
  padding: 0;
}

.search-result .session-start {
  border-left: 1px solid black;
}

.search-result .session-start-text {
  margin: 40px 0 40px 0;
  text-align: center;
}

.search-result .session-start-social {
  margin: 10px 0 10px 0;
}

.search-result .social-row:not(:last-child) {
  margin-bottom: 10px;
}

.search-result .social-row div:first-child {
  padding-left: 10px;
}

.search-result .title h3 {
  margin: 0 0 15px;
}

.search-result .title p {
  font-size: 12px;
  color: #333;
}

.search-result img {
  margin: 0;
  border: 4px solid #f39622;
  padding: 3px;
  height: 100px;
  max-width: 100px;
}

.search-result .title div {
  margin-left: 0;
}

.well {
  border: 0;
  padding: 20px;
  min-height: 63px;
  background: #fff;
  box-shadow: none;
  border-radius: 3px;
  position: relative;
  max-height: 100000px;
  border-bottom: 2px solid #ccc;
  transition: max-height 0.5s ease;
  -o-transition: max-height 0.5s ease;
  -ms-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  -webkit-transition: max-height 0.5s ease;
}

body {
  background-color: #e4e2e0;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #f39622;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
  color: #f39622;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #545454;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  height: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  color: #f39622;
}

.sidebar-nav li dl {
  margin-top: 10%;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: rgba(255, 255, 255, 0.2);
}

.cog {
  margin-left: 32%;
}

.logout {
  margin-left: 5%;
}

.sidebar-nav .scroll {
  background-color: #545454;
  height: 28vh;
  overflow-y: scroll;
}

.sidebar-nav .scroll .conversation {
  color: white;
  height: 66%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  border-bottom: 1px solid orange;
}

/*BATOTA AQUI; RESOLVER DEPOIS*/
.sidebar-nav .scroll .conversation .action_button1 {
  float: right;
  z-index: 0;
  margin-left: -8%;
  margin-top: 9%;
}

.sidebar-nav .scroll .conversation .action_button2 {
  float: right;
  z-index: 1;
  margin-top: -4%;

}

/**/
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  margin-left: 20%;
  margin-top: 7%;
}

.sidebar-nav li:hover:nth-child(n+3) {
  color: #fff;
  text-indent: 20px;
  line-height: 40px;
  background-color: #f39622;
}

@media (min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
