<link href="lib/bootstrap.min.css" rel="stylesheet">
<link href="client/styles/chatStyle.css" rel="stylesheet">
<link href="client/styles/modalWindow.css" rel="stylesheet">


<!-- ================= TOP BAR ======================== -->


<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" id="nav-bar-div">

        <div class="row">
            <div class="col-xs-3">
                <!-- LOGO -->
                <img class="logo-bar" src="client/assets/logo3.png" />
            </div>

            <div class="col-xs-6 text-center nav-item">
                <!-- ACCOUNT USERNAME -->
                <label class="username"> {{ userInfo.username }} </label>
            </div>
            <div class="col-xs-3 text-center nav-item" ng-controller="LogoutCtrl">
                <!-- EXIT CHAT BUTTON -->
                <a class="exit-button" ng-click="logout()"> Desligar </a>
            </div> 
        </div>
        
    </div>
</nav>


<!-- ================= CHAT LINES ======================== -->


<div class="container-fluid chat-box">
  <div ng-repeat="line in messages" class="row chatline">
    <div ng-if="line.from == 'customer'">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-0 col-sm-1 col-sm-offset-1">
              <img class="img-responsive" ng-src="{{userInfo.photoURL}}">
            </div>
            <div class="col-xs-8 col-sm-8 client-chatp">
                <div class="pointer-left"></div>
                <div class="pointer-left pointer-border-left"></div> 
                <p ng-bind-html="line.message"></p>
            </div>
        </div>
    </div>

    <div ng-if="line.from != 'customer'">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-2 worker-chatp">
                <div class="pointer-right"></div>
                <div class="pointer-right pointer-border-right"></div>
                <p ng-bind-html="line.message"></p>
            </div>
            <div class="col-xs-2 col-sm-1">
              <img class="img-sup" src="support/assets/chat_icon.png"/>
            </div>
        </div>
    </div>
  </div>
</div>


<!-- ================= FOOTER - WRITE NEW LINE ======================== -->


<div class="navbar-fixed-bottom footer">

    <div class="row footer-row">
        <!-- CHAT TEXTAREA -->
        <div class="col-xs-8 col-md-10 text-area">
            <textarea rows="2" placeholder="Escreva aqui uma mensagem..." ng-model="newMessage" 
                      ng-keyup="$event.which === 13 && sendMessage()"> 
            </textarea> 
        </div>
        
        <!-- CHAT BUTTON ATTACH -->
        <div class="col-xs-2 col-md-1 btn-upld text-center btn-area">
            <button type="button" class="btn-opt" id="attach-btn" data-toggle="modal" data-target="#attachModal">     
                <img class="btn-icons" src="client/assets/botaoanexar.png" />
            </button>
            
        </div>
        
        <!-- CHAT BUTTON SEND -->
        <div class="col-xs-2 col-md-1 btn-send text-center btn-area">
            <button type="button" class="btn-opt" id="send-btn" ng-click="sendMessage()"> 
                <img class="btn-icons" src="client/assets/botaoenviar.png" /> 
            </button>
        </div>
    </div>
    
    
    
    <!-- MODAL WINDOW -->
    <div id="attachModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"> Em que serviço se encontra o ficheiro a partilhar? </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-6 text-center">
                            <div class="col-xs-12 text-center">
                                <img class="modal-icon" src="client/assets/botaodropbox.png" />
                            </div>
                            <div class="col-xs-12 text-center">
                                <button class="btn-modal" ng-click="uploadFileDropbox()"> Dropbox </button>
                            </div>
                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="col-xs-12 text-center">
                                <img class="modal-icon" src="client/assets/botaogdrive.png" />
                            </div>
                            <div class="col-xs-12 text-center">
                                <button class="btn-modal" ng-click="uploadFileGoogleDrive()"> Google Drive </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
