<link href="lib/bootstrap.min.css" rel="stylesheet">
<link href="client/styles/clientStyle.css" rel="stylesheet">
<link href="client/styles/modalWindow.css" rel="stylesheet">

<!-- =================== BARRA DE NAVEGAÇAO =================== -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" id="nav-bar-div" ng-controller="HomeNaveCtrl">
        
        <!-- lado esquerdo :: logotipo -->
        <div class="navbar-header">
            <a class="navbar-brand" ng-click="scrollToTop()">
                <img class="logo-bar" src="client/assets/logo3.png" />
            </a>
            <button id="navCollapse" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#clientNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- lado direito :: botões de navegação -->
        <div class="collapse navbar-collapse" id="clientNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a id="aHome" class="nav-bar-li active" style="color:#ffffff;" ng-click="goTo('#aHome','#home')"> Página Inicial </a> </li>
                <li> <a id="aAbout" class="nav-bar-li" style="color:#ffffff;" ng-click="goTo('#aAbout','#about')"> Quem Somos </a> </li>
                <li> <a id="aServices" class="nav-bar-li" style="color:#ffffff;"  ng-click="goTo('#aServices','#services')"> Serviços </a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- =================== PAGINA INICIAL =================== -->

<div class="container-fluid" id="home">
    <div class="row">
        
        <!-- Texto inicial (à esquerda) -->
        <div class="col-md-6 row-eq-height text-center" id="home-block-left">
            <h3> Apoio rápido e eficiente </h3> 
            <br/>
            <p class="p-black"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            </p>
               
            
             
            <br/>
            
            <!-- Trigger the modal with a button -->
            <button id="startChat" type="button" class="btn btn-default btn-start-chat" data-toggle="modal" data-target="#LoginModal"> 
                Iniciar Conversação 
            </button>
            

            <!-- Modal -->
            <div id="LoginModal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title"> Efetue login com um destes serviços </h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-4 text-center"> 
                                    <div class="col-md-12 text-center">
                                        <img class="modal-icon" src="client/assets/fb.png" />
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <a class="a-modal" href="/client/login/facebook"> Facebook </a>
                                    </div>
                                </div>
                                <hr class="visible-xs visible-sm">
                                <div class="col-md-4 text-center">
                                    <div class="col-md-12 text-center">
                                        <img class="modal-icon" src="client/assets/gp.png" />
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <a class="a-modal" href="/client/login/google"> Google Plus </a>
                                    </div>
                                </div>
                                <hr class="visible-xs visible-sm">
                                <div class="col-md-4 text-center">
                                    <div class="col-md-12 text-center">
                                        <img class="modal-icon" src="client/assets/twitter.png" />
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <a class="a-modal" href="/client/login/twitter"> Twitter </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
        <!-- imagem suporte inicial (à direita) -->
        <div id="home-block-right" class="hidden-sm hidden-xs">
            <img class="support-girl pull-right" src="client/assets/photo.jpg">
        </div>
        
        <div id="home-block-right" class="visible-sm visible-xs">
            <img class="support-girl-small pull-right" src="client/assets/photo.jpg">
        </div>
        
    </div>
</div>



<!-- =================== QUEM SOMOS =================== -->

<div class="container-fluid" id="about">
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="about-div" name="about-div">
            <h2 class="h-title"> Glintt Support </h2>
            <br>

            <p class="p-about"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        </div>
    </div>
</div>

<!-- =================== SERVIÇOS =================== -->

<div class="container" id="services" name="services">
    <div class="row">

        <!-- icons -->
        <div class="col-md-4 col-xs-12 text-center">
            <a class="grow"> <img src="client/assets/botaolocal.png" class="img-icon" /> </a>
            <h4 class="h-icons"> Instalações </h4> 
            <p class="p-icons"> Descubra as nossas instalações. </p>
            <p class="p-icons"> Faça-nos uma visita. </p>
            <br class="visible-xs visible-sm">
        </div>
        
        <div class="col-md-4 col-xs-12 text-center">
            <a class="grow"> <img src="client/assets/botaoconversacao.png" class="img-icon" /> </a>
            <h4 class="h-icons"> Conversação Online </h4>
            <p class="p-icons"> Apoio online 24 horas. </p>
            <br class="visible-xs visible-sm">
        </div>
        
        <div class="col-md-4 col-xs-12 text-center">
            <a class="grow"> <img src="client/assets/botaotlm.png" class="img-icon" /> </a>
            <h4 class="h-icons"> Apoio Telefónico </h4>
            <p class="p-icons"> A nossa empresa pode ajudá-lo. </p>
            <p class="p-icons"> Exponha aqui o seu problema.</p>
            <br class="visible-xs visible-sm">
        </div>

    </div>
</div>

<!-- =================== FOOTER =================== -->
<footer class="footer">    
    <nav class="navbar navbar-default">
        <div class="container-fluid" id="footer-div">

            <!-- lado esquerdo :: logotipo -->
            <div class="navbar-header">
                <a href="#youtube"> <img src="client/assets/botaoyoutb.png" class="footer-icon" /> </a>
                <a href="#facebook"> <img src="client/assets/botaoface.png" class="footer-icon" /> </a>
                <a href="#linkedin"> <img src="client/assets/botaolinkdn.png" class="footer-icon" /> </a>
            </div>

            <!-- lado direito :: copyrights -->
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <p class="p-footer"> <span class="glyphicon glyphicon-copyright-mark"></span> gSupport 2015 </p>
                </ul>
            </div>
        </div>
    </nav>
</footer>

