/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

body {
  background: white;
  color: #606468;
  font: 87.5%/1.5em 'Calibri', sans-serif;
  margin: 0;
}

input {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  width: 280px;
}

#login form span {
  background-color: white;
  color: #606468;
  display: block;
  float: left;
  height: 40px;
  line-height: 50px;
  text-align: center;
  width: 50px;
  border-bottom: solid;
  border-top-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #f39622;
}

span img{
  margin-top: 4px;
}
#login form input {
  height: 40px;
}

#login form input[type="text"], input[type="password"] {
  background-color: white;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
  border: 1px solid #f39622;
}

#login form input[type="submit"] {
  background-color: #f39622;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  width: 280px;

}

#login form input[type="submit"]:hover {
  background-color: #FFB047;
  cursor: pointer;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

.logo_c .logo{
  position: relative;
  margin-left: 15%;
  margin-bottom: 12%;
}